


*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

<<<<<<< HEAD
body{
    background-color: #ffa5b4;
}

.banner{
    width: 1360px;
    height:500px;
}
=======
>>>>>>> 10585d6008110b268d5e18bc39d1a58f1f940056
